/*========== Start Default Spacing  ==========*/
@media screen and (min-width: 992px) {
  .yoo-height-b0 {
    height: 0px
  }

  .yoo-height-b5 {
    height: 5px
  }

  .yoo-height-b10 {
    height: 10px
  }

  .yoo-height-b15 {
    height: 15px
  }

  .yoo-height-b20 {
    height: 20px
  }

  .yoo-height-b25 {
    height: 25px
  }

  .yoo-height-b30 {
    height: 30px
  }

  .yoo-height-b35 {
    height: 35px
  }

  .yoo-height-b40 {
    height: 40px
  }

  .yoo-height-b45 {
    height: 45px
  }

  .yoo-height-b50 {
    height: 50px
  }

  .yoo-height-b55 {
    height: 55px
  }

  .yoo-height-b60 {
    height: 60px
  }

  .yoo-height-b65 {
    height: 65px
  }

  .yoo-height-b70 {
    height: 70px
  }

  .yoo-height-b75 {
    height: 75px
  }

  .yoo-height-b80 {
    height: 80px
  }

  .yoo-height-b85 {
    height: 85px
  }

  .yoo-height-b90 {
    height: 90px
  }

  .yoo-height-b95 {
    height: 95px
  }

  .yoo-height-b100 {
    height: 100px
  }

  .yoo-height-b105 {
    height: 105px
  }

  .yoo-height-b110 {
    height: 110px
  }

  .yoo-height-b115 {
    height: 115px
  }

  .yoo-height-b120 {
    height: 120px
  }

  .yoo-height-b125 {
    height: 125px
  }

  .yoo-height-b130 {
    height: 130px
  }

  .yoo-height-b135 {
    height: 135px
  }

  .yoo-height-b140 {
    height: 140px
  }

  .yoo-height-b145 {
    height: 145px
  }

  .yoo-height-b150 {
    height: 150px
  }

  .yoo-height-b155 {
    height: 155px
  }

  .yoo-height-b160 {
    height: 160px
  }

  .yoo-height-b165 {
    height: 165px
  }

  .yoo-height-b170 {
    height: 170px
  }

  .yoo-height-b175 {
    height: 175px
  }

  .yoo-height-b180 {
    height: 180px
  }

  .yoo-height-b185 {
    height: 185px
  }

  .yoo-height-b190 {
    height: 190px
  }

  .yoo-height-b195 {
    height: 195px
  }

  .yoo-height-b200 {
    height: 200px
  }

  .yoo-height-b205 {
    height: 205px
  }

  .yoo-height-b210 {
    height: 210px
  }
}

@media screen and (max-width: 991px) {
  .yoo-height-lg-b0 {
    height: 0px
  }

  .yoo-height-lg-b5 {
    height: 5px
  }

  .yoo-height-lg-b10 {
    height: 10px
  }

  .yoo-height-lg-b15 {
    height: 15px
  }

  .yoo-height-lg-b20 {
    height: 20px
  }

  .yoo-height-lg-b25 {
    height: 25px
  }

  .yoo-height-lg-b30 {
    height: 30px
  }

  .yoo-height-lg-b35 {
    height: 35px
  }

  .yoo-height-lg-b40 {
    height: 40px
  }

  .yoo-height-lg-b45 {
    height: 45px
  }

  .yoo-height-lg-b50 {
    height: 50px
  }

  .yoo-height-lg-b55 {
    height: 55px
  }

  .yoo-height-lg-b60 {
    height: 60px
  }

  .yoo-height-lg-b65 {
    height: 65px
  }

  .yoo-height-lg-b70 {
    height: 70px
  }

  .yoo-height-lg-b75 {
    height: 75px
  }

  .yoo-height-lg-b80 {
    height: 80px
  }

  .yoo-height-lg-b85 {
    height: 85px
  }

  .yoo-height-lg-b90 {
    height: 90px
  }

  .yoo-height-lg-b95 {
    height: 95px
  }

  .yoo-height-lg-b100 {
    height: 100px
  }

  .yoo-height-lg-b105 {
    height: 105px
  }

  .yoo-height-lg-b110 {
    height: 110px
  }

  .yoo-height-lg-b115 {
    height: 115px
  }

  .yoo-height-lg-b120 {
    height: 120px
  }

  .yoo-height-lg-b125 {
    height: 125px
  }

  .yoo-height-lg-b130 {
    height: 130px
  }

  .yoo-height-lg-b135 {
    height: 135px
  }

  .yoo-height-lg-b140 {
    height: 140px
  }

  .yoo-height-lg-b145 {
    height: 145px
  }

  .yoo-height-lg-b150 {
    height: 150px
  }

  .yoo-height-lg-b155 {
    height: 155px
  }

  .yoo-height-lg-b160 {
    height: 160px
  }

  .yoo-height-lg-b165 {
    height: 165px
  }

  .yoo-height-lg-b170 {
    height: 170px
  }

  .yoo-height-lg-b175 {
    height: 175px
  }

  .yoo-height-lg-b180 {
    height: 180px
  }

  .yoo-height-lg-b185 {
    height: 185px
  }

  .yoo-height-lg-b190 {
    height: 190px
  }

  .yoo-height-lg-b195 {
    height: 195px
  }

  .yoo-height-lg-b200 {
    height: 200px
  }

  .yoo-height-lg-b205 {
    height: 205px
  }

  .yoo-height-lg-b210 {
    height: 210px
  }
}
/*========== End Default Spacing  ==========*/
/*========== Start Margin Classes  ==========*/
.yoo-margin-0 {
  margin: 0;
}

.yoo-margin-1 {
  margin: 1px;
}

.yoo-margin-2 {
  margin: 2px;
}

.yoo-margin-3 {
  margin: 3px;
}

.yoo-margin-4 {
  margin: 4px;
}

.yoo-margin-5 {
  margin: 5px;
}

.yoo-margin-6 {
  margin: 6px;
}

.yoo-margin-7 {
  margin: 7px;
}

.yoo-margin-8 {
  margin: 8px;
}

.yoo-margin-9 {
  margin: 9px;
}

.yoo-margin-10 {
  margin: 10px;
}

.yoo-margin-11 {
  margin: 11px;
}

.yoo-margin-12 {
  margin: 12px;
}

.yoo-margin-13 {
  margin: 13px;
}

.yoo-margin-14 {
  margin: 14px;
}

.yoo-margin-15 {
  margin: 15px;
}

.yoo-margin-top-0 {
  margin-top: 0;
}

.yoo-margin-top-1 {
  margin-top: 1px;
}

.yoo-margin-top-2 {
  margin-top: 2px;
}

.yoo-margin-top-3 {
  margin-top: 3px;
}

.yoo-margin-top-4 {
  margin-top: 4px;
}

.yoo-margin-top-5 {
  margin-top: 5px;
}

.yoo-margin-top-6 {
  margin-top: 6px;
}

.yoo-margin-top-7 {
  margin-top: 7px;
}

.yoo-margin-top-8 {
  margin-top: 8px;
}

.yoo-margin-top-9 {
  margin-top: 9px;
}

.yoo-margin-top-10 {
  margin-top: 10px;
}

.yoo-margin-top-11 {
  margin-top: 11px;
}

.yoo-margin-top-12 {
  margin-top: 12px;
}

.yoo-margin-top-13 {
  margin-top: 13px;
}

.yoo-margin-top-14 {
  margin-top: 14px;
}

.yoo-margin-top-15 {
  margin-top: 15px;
}

.yoo-margin-bottom-0 {
  margin-bottom: 0;
}

.yoo-margin-bottom-1 {
  margin-bottom: 1px;
}

.yoo-margin-bottom-2 {
  margin-bottom: 2px;
}

.yoo-margin-bottom-3 {
  margin-bottom: 3px;
}

.yoo-margin-bottom-4 {
  margin-bottom: 4px;
}

.yoo-margin-bottom-5 {
  margin-bottom: 5px;
}

.yoo-margin-bottom-6 {
  margin-bottom: 6px;
}

.yoo-margin-bottom-7 {
  margin-bottom: 7px;
}

.yoo-margin-bottom-8 {
  margin-bottom: 8px;
}

.yoo-margin-bottom-9 {
  margin-bottom: 9px;
}

.yoo-margin-bottom-10 {
  margin-bottom: 10px;
}

.yoo-margin-bottom-11 {
  margin-bottom: 11px;
}

.yoo-margin-bottom-12 {
  margin-bottom: 12px;
}

.yoo-margin-bottom-13 {
  margin-bottom: 13px;
}

.yoo-margin-bottom-14 {
  margin-bottom: 14px;
}

.yoo-margin-bottom-15 {
  margin-bottom: 15px;
}

.yoo-margin-left-0 {
  margin-left: 0;
}

.yoo-margin-left-1 {
  margin-left: 1px;
}

.yoo-margin-left-2 {
  margin-left: 2px;
}

.yoo-margin-left-3 {
  margin-left: 3px;
}

.yoo-margin-left-4 {
  margin-left: 4px;
}

.yoo-margin-left-5 {
  margin-left: 5px;
}

.yoo-margin-left-6 {
  margin-left: 6px;
}

.yoo-margin-left-7 {
  margin-left: 7px;
}

.yoo-margin-left-8 {
  margin-left: 8px;
}

.yoo-margin-left-9 {
  margin-left: 9px;
}

.yoo-margin-left-10 {
  margin-left: 10px;
}

.yoo-margin-left-11 {
  margin-left: 11px;
}

.yoo-margin-left-12 {
  margin-left: 12px;
}

.yoo-margin-left-13 {
  margin-left: 13px;
}

.yoo-margin-left-14 {
  margin-left: 14px;
}

.yoo-margin-left-15 {
  margin-left: 15px;
}

.yoo-margin-right-0 {
  margin-right: 0;
}

.yoo-margin-right-1 {
  margin-right: 1px;
}

.yoo-margin-right-2 {
  margin-right: 2px;
}

.yoo-margin-right-3 {
  margin-right: 3px;
}

.yoo-margin-right-4 {
  margin-right: 4px;
}

.yoo-margin-right-5 {
  margin-right: 5px;
}

.yoo-margin-right-6 {
  margin-right: 6px;
}

.yoo-margin-right-7 {
  margin-right: 7px;
}

.yoo-margin-right-8 {
  margin-right: 8px;
}

.yoo-margin-right-9 {
  margin-right: 9px;
}

.yoo-margin-right-10 {
  margin-right: 10px;
}

.yoo-margin-right-11 {
  margin-right: 11px;
}

.yoo-margin-right-12 {
  margin-right: 12px;
}

.yoo-margin-right-13 {
  margin-right: 13px;
}

.yoo-margin-right-14 {
  margin-right: 14px;
}

.yoo-margin-right-15 {
  margin-right: 15px;
}
/*========== End Margin Classes  ==========*/

/*========== Start Padidng Classes  ==========*/
.yoo-padding-0 {
  padding: 0;
}

.yoo-padding-1 {
  padding: 1px;
}

.yoo-padding-2 {
  padding: 2px;
}

.yoo-padding-3 {
  padding: 3px;
}

.yoo-padding-4 {
  padding: 4px;
}

.yoo-padding-5 {
  padding: 5px;
}

.yoo-padding-6 {
  padding: 6px;
}

.yoo-padding-7 {
  padding: 7px;
}

.yoo-padding-8 {
  padding: 8px;
}

.yoo-padding-9 {
  padding: 9px;
}

.yoo-padding-10 {
  padding: 10px;
}

.yoo-padding-11 {
  padding: 11px;
}

.yoo-padding-12 {
  padding: 12px;
}

.yoo-padding-13 {
  padding: 13px;
}

.yoo-padding-14 {
  padding: 14px;
}

.yoo-padding-15 {
  padding: 15px;
}

.yoo-padding-top-0 {
  padding-top: 0;
}

.yoo-padding-top-1 {
  padding-top: 1px;
}

.yoo-padding-top-2 {
  padding-top: 2px;
}

.yoo-padding-top-3 {
  padding-top: 3px;
}

.yoo-padding-top-4 {
  padding-top: 4px;
}

.yoo-padding-top-5 {
  padding-top: 5px;
}

.yoo-padding-top-6 {
  padding-top: 6px;
}

.yoo-padding-top-7 {
  padding-top: 7px;
}

.yoo-padding-top-8 {
  padding-top: 8px;
}

.yoo-padding-top-9 {
  padding-top: 9px;
}

.yoo-padding-top-10 {
  padding-top: 10px;
}

.yoo-padding-top-11 {
  padding-top: 11px;
}

.yoo-padding-top-12 {
  padding-top: 12px;
}

.yoo-padding-top-13 {
  padding-top: 13px;
}

.yoo-padding-top-14 {
  padding-top: 14px;
}

.yoo-padding-top-15 {
  padding-top: 15px;
}

.yoo-padding-bottom-0 {
  padding-bottom: 0;
}

.yoo-padding-bottom-1 {
  padding-bottom: 1px;
}

.yoo-padding-bottom-2 {
  padding-bottom: 2px;
}

.yoo-padding-bottom-3 {
  padding-bottom: 3px;
}

.yoo-padding-bottom-4 {
  padding-bottom: 4px;
}

.yoo-padding-bottom-5 {
  padding-bottom: 5px;
}

.yoo-padding-bottom-6 {
  padding-bottom: 6px;
}

.yoo-padding-bottom-7 {
  padding-bottom: 7px;
}

.yoo-padding-bottom-8 {
  padding-bottom: 8px;
}

.yoo-padding-bottom-9 {
  padding-bottom: 9px;
}

.yoo-padding-bottom-10 {
  padding-bottom: 10px;
}

.yoo-padding-bottom-11 {
  padding-bottom: 11px;
}

.yoo-padding-bottom-12 {
  padding-bottom: 12px;
}

.yoo-padding-bottom-13 {
  padding-bottom: 13px;
}

.yoo-padding-bottom-14 {
  padding-bottom: 14px;
}

.yoo-padding-bottom-15 {
  padding-bottom: 15px;
}

.yoo-padding-left-0 {
  padding-left: 0;
}

.yoo-padding-left-1 {
  padding-left: 1px;
}

.yoo-padding-left-2 {
  padding-left: 2px;
}

.yoo-padding-left-3 {
  padding-left: 3px;
}

.yoo-padding-left-4 {
  padding-left: 4px;
}

.yoo-padding-left-5 {
  padding-left: 5px;
}

.yoo-padding-left-6 {
  padding-left: 6px;
}

.yoo-padding-left-7 {
  padding-left: 7px;
}

.yoo-padding-left-8 {
  padding-left: 8px;
}

.yoo-padding-left-9 {
  padding-left: 9px;
}

.yoo-padding-left-10 {
  padding-left: 10px;
}

.yoo-padding-left-11 {
  padding-left: 11px;
}

.yoo-padding-left-12 {
  padding-left: 12px;
}

.yoo-padding-left-13 {
  padding-left: 13px;
}

.yoo-padding-left-14 {
  padding-left: 14px;
}

.yoo-padding-left-15 {
  padding-left: 15px;
}

.yoo-padding-right-0 {
  padding-right: 0;
}

.yoo-padding-right-1 {
  padding-right: 1px;
}

.yoo-padding-right-2 {
  padding-right: 2px;
}

.yoo-padding-right-3 {
  padding-right: 3px;
}

.yoo-padding-right-4 {
  padding-right: 4px;
}

.yoo-padding-right-5 {
  padding-right: 5px;
}

.yoo-padding-right-6 {
  padding-right: 6px;
}

.yoo-padding-right-7 {
  padding-right: 7px;
}

.yoo-padding-right-8 {
  padding-right: 8px;
}

.yoo-padding-right-9 {
  padding-right: 9px;
}

.yoo-padding-right-10 {
  padding-right: 10px;
}

.yoo-padding-right-11 {
  padding-right: 11px;
}

.yoo-padding-right-12 {
  padding-right: 12px;
}

.yoo-padding-right-13 {
  padding-right: 13px;
}

.yoo-padding-right-14 {
  padding-right: 14px;
}

.yoo-padding-right-15 {
  padding-right: 15px;
}
/*========== End Padidng Classes  ==========*/
