// Font Variable
$body-font: 'Inter', sans-serif;

// Font Size
$body-font-size: 14px;

// Body Line Height
$body-line-height: 1.6em;

// Light Color Palettes
$main-color: #fff;
$base-color: #000;
$base-color1: rgba(0, 0, 0, 0.95);
$base-color2: rgba(0, 0, 0, 0.70);
$base-color3: rgba(0, 0, 0, 0.4);
$base-color4: #e5e5e5;
$base-color5: rgba(0, 0, 0, 0.05);
$base-color6: rgba(0, 0, 0, 0.02);

// Accent color
$blue-color: #007aff;
$gray-color: #8e8e93;
$light-blue-color: #5ac8fa;
$green-color: #34c759;
$red-color: #ff3b30;
$orange-color: #ff9500;
$indigo-color: #5856d6;
$purple-color: #af52de;
$pink-color: #ff2d55;

