.jumbotron {
    padding: 50px 40px;
    background-color: $base-color5;
}
.display-4 {
    font-size: 60px;
    letter-spacing: -0.5px;
    line-height: 1.2em;
    margin-bottom: 7px;
}
.lead {
    font-size: 20px;
    line-height: 1.6em;
    letter-spacing: 0.25px;
}
